<div class="container">
    <div class="row columns">
      <div class="column">
        <div class="card large">
          <div class="card-content is-light-grey">
          
            <%= simple_form_for(@category) do |f| %>
              <%= f.error_notification %>

                <div class="field">
                  <div class="control">
                      <%= f.input :name, label_html: { class: 'active' }, wrapper: false %>
                  </div>
                </div>

                <div class="field">
                  <div class="control">
                      <%= f.input :created_by, label_html: { class: 'active' }, wrapper: false %>
                  </div>
                </div>

                <div class="field">
                  <div class="control">
                      <%= f.input :updated_by, label_html: { class: 'active' }, wrapper: false %>
                  </div>
                </div>

                <%= f.input :created_at, as: :hidden, input_html: { value: Date.current }, wrapper:false %>
                
                <%= f.button :submit %>

            <% end %>
          </div>
        </div>
      </div>
    </div>
<<<<<<< HEAD
</div>
  

=======
  </div>

<% end %>
>>>>>>> 692bdc2ec66dc2b9fbc42e7f3f3346b55e63ea52
