<div class="container">
    <div class="row columns">
      <div class="column">
        <div class="card large">
          <div class="card-content is-light-grey">
          
            <%= simple_form_for(@category) do |f| %>
              <%= f.error_notification %>

                <div class="field">
                  <div class="control">
                      <%= f.input :name, label_html: { class: 'active' }, wrapper: false %>
                  </div>
                </div>

                <div class="field">
                  <div class="control">
                      <%= f.input :created_by, label_html: { class: 'active' }, wrapper: false %>
                  </div>
                </div>
                <%= f.input :created_by, as: :hidden, input_html: { value: current_user.username }, wrapper:false %>
                <%= f.input :created_at, as: :hidden, input_html: { value: Date.current }, wrapper:false %>
                <%= f.input :created_by, as: :hidden, input_html: { value: current_user.username }, wrapper:false %>

                <%= f.button :submit %>

            <% end %>
          </div>
        </div>
      </div>
    </div>
</div>

