<div class="container">
  <div class="row columns">
    <div class="column">
      <br><br>
      <p class="title is-4 no-padding">New Comment for <%= @service.name %> </p>
      <br>
    </div>
  </div>
</div>

<div class="container">
    <div class="card">
        <div class="card-content is-light-grey">

                <%= simple_form_for(@comment) do |f| %>
                    <%= f.error_notification %>

                        <div class="field">
                            <div class="control">
                                <%= f.input :content, input_html: { class: 'textarea' }, label_html: { class: 'active' }, wrapper: false %>
                            </div>
                        </div>

                        <div class="field">
                            <div class="control">
                                <%= f.input :date_created, input_html: { value: Date.current }, wrapper:false %>
                            </div>
                        </div>

                        <%= f.input :created_by, as: :hidden, input_html: { value: current_user.username }, wrapper:false %>
                        <%= f.input :service_id, as: :hidden, input_html: { value: @service.id }, wrapper:false %>

                    <%= f.button :submit %>
                    
                <% end %>

            </div>
        </div>
    </div>
</div>