<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" type="image/png" href="/assets/favicon.png">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>WFSServices</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<div id="top-image">
  	</div>
    <%= render :partial => "partials/topbar" %>
  	<%= render :partial => "partials/nav" %>

<!--     <%# flash.each do |name, msg| %>
        <%#= content_tag :div, msg, id: "flash_#{name}" %>
    <%# end %> -->
    
    <%= yield %>
  </body>
</html>
