<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" type="image/png" href="/assets/favicon.png">
    <title>WFSServices</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<div id="top-image">
  	</div>
    <%= render :partial => "partials/topbar" %>
  	<%= render :partial => "partials/nav" %>
    <%= yield %>
  </body>
</html>
