<p id="notice"><%= notice %></p>

<h1>Service Contacts</h1>

<table>
  <thead>
    <tr>
      <th>Service</th>
      <th>Contact</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @service_contacts.each do |service_contact| %>
      <tr>
        <td><%= service_contact.service %></td>
        <td><%= service_contact.contact %></td>
        <td><%= link_to 'Show', service_contact %></td>
        <td><%= link_to 'Edit', edit_service_contact_path(service_contact) %></td>
        <td><%= link_to 'Destroy', service_contact, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Service Contact', new_service_contact_path %>
