<%= form_with(model: location, local: true) do |form| %>
  <% if location.errors.any? %>
    <div id="error_explanation">
      <div id="column">
        <article class="message is-danger">
          <div class="message-body">
            <h2><%= pluralize(location.errors.count, "error") %> prohibited this location from being saved:</h2>

            <ul>
              <% location.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        </article>
      </div>
    </div>
  <% end %>

  <div class="container">
    <div class="row columns">
      <div class="column">
        <div class="card large">
          <div class="card-content is-light-grey">
            <div class="field">
              <strong><%= form.label :name %></strong>:
              <%= form.text_field :name, id: :location_name %>
            </div>

            <div class="field">
              <strong><%= form.label :phone_number %></strong>:
              <%= form.text_field :phone_number, id: :location_phone_number %>
            </div>

            <div class="field">
              <strong><%= form.label :street %></strong>:
              <%= form.text_field :street, id: :location_street %>
            </div>

            <div class="field">
              <strong><%= form.label :city %></strong>:
              <%= form.text_field :city, id: :location_city %>
            </div>

            <div class="field">
              <strong><%= form.label :zipcode %></strong>:
              <%= form.text_field :zipcode, id: :location_zipcode %>
            </div>

            <div class="field">
              <strong><%= form.label :map_link %></strong>:
              <%= form.text_field :map_link, id: :location_map_link %>
            </div>

            <div class="actions">
              <%= form.submit %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
