<section class="hero">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">Locations</h1>
      <br/>
    </div>
    <% @locations.each do |location| %>
      <div class="container">
        <h3><%= link_to location.name, location %></h3>

        <%= location.street %>, <%= location.city %> PA, <%= location.zipcode %><br/>

        <%= link_to 'Edit', edit_location_path(location) %>
        <%= link_to 'Destroy', location, method: :delete, data: { confirm: 'Are you sure?' } %>
        <br/><br/>
      </div>
    <% end %>
    <%= link_to 'New Location', new_location_path %>
  </div>
</section>
