<section class="hero">
  <div class="hero-body">
    <div class="container">
      <h1 class="title"><%= @location.name %></h1>
      <br/>
    </div>
    <div class="container">
      <h3>Contact Information:</h3>
      <p>
        <strong>Phone number:</strong>
        <%= @location.phone_number %>
      </p>
    </div>
    <div class="container">
      <strong>Street:</strong>
      <%= @location.street %>

      <strong>City:</strong>
      <%= @location.city %>

      <strong>Zipcode:</strong>
      <%= @location.zipcode %>
    </div><br/>

    <%= link_to 'Edit', edit_location_path(@location) %> |
    <%= link_to 'Back', locations_path %>
  </div>
</section>
