<div class="container">
  <div class="row columns">
    <div class="column">
      <br/>

      <% if notice != nil %>
        <article class="message is-primary">
          <div class="message-body">
            <p id="notice"><%= notice %></p>
          </div>
        </article>
      <% end %>

      <div class="card large">
        <div class="card-content">
          <div class="media">
            <div class="media-content">
              <p class="title is-4 no-padding"><%= @location.name %></p>
            </div>
          </div>

          <div class="content"><strong>Address: </strong><br/>
            Street: <%= @location.street %>
            <br/>
            City: <%= @location.city %>
            <br/>
            Zipcode: <%= @location.zipcode %>
          </div>

          <% if @location.map_link != nil && @location.map_link != "" %>
            <div class="content"><strong>Directions: </strong><br/>
              <iframe src=<%=@location.map_link%> width="600" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
          <% end %>

          <div class="content"><span class="title is-6">Contact: </span>
            <br/>Phone number: <%= number_to_phone @location.phone_number %>
          </div>

          <div class="content"><span class="title is-6">Services: </span><br/>
            <% @location.services.alphabetical.each do |s| %>
              <%= link_to s.name, s %><br/>
            <% end %>
            <br/>
            <%= link_to 'Add Location', new_service_location_path(location_id: @location.id), class: "button is-info is-rounded" %>
          </div>
        </div>
      </div>

      <div class="column">
          <%= link_to 'Back', locations_path, class: "button is-info is-rounded" %>
          <%= link_to 'Edit', edit_location_path(@location), class: "button is-info is-rounded" %>
          <%= link_to 'Remove', @location, method: :delete, data: { confirm: 'Are you sure?' } , class: "button is-danger is-rounded"%>
      </div>

    </div>
  </div>
</div>
