<div class="container">
  <div class="row columns">
    <div class="column">
      <br/>
      <div class="card large">
        <div class="card-content">
          <div class="media">
            <div class="media-content">
              <p class="title is-4 no-padding"><%= @location.name %></p>
            </div>
          </div>

          <div class="content"><strong>Address: </strong><br/>
            Street: <%= @location.street %>
            <br/>
            City: <%= @location.city %>
            <br/>
            Zipcode: <%= @location.zipcode %>
          </div>

          <div class="content"><span class="title is-6">Contact: </span>
            <br/>Phone number: <%= number_to_phone @location.phone_number %>
          </div>

          <div class="content"><span class="title is-6">Services: </span><br/>
            <% @location.services.each do |s| %>
              <%= link_to s.name, s %><br/>
            <% end %>
          </div>
        </div>
        <div class="column">
          <%= link_to 'Back', locations_path, class: "button is-info is-rounded" %>
          <%= link_to 'Edit', edit_location_path(@location), class: "button is-info is-rounded" %>
          <%= link_to 'Destroy', @location, method: :delete, data: { confirm: 'Are you sure?' } , class: "button is-danger is-rounded"%>
        </div>
      </div>
    </div>
  </div>
</div>
