<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @location.name %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @location.phone_number %>
</p>

<p>
  <strong>Street:</strong>
  <%= @location.street %>
</p>

<p>
  <strong>City:</strong>
  <%= @location.city %>
</p>

<p>
  <strong>Zipcode:</strong>
  <%= @location.zipcode %>
</p>

<p>
  <strong>Created by:</strong>
  <%= @location.created_by %>
</p>

<p>
  <strong>Updated by:</strong>
  <%= @location.updated_by %>
</p>

<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>
