<%= form_with(model: contact, local: true) do |form| %>
  <% if contact.errors.any? %>
    <div id="error_explanation">
      <div id="column">
      <article class="message is-danger">
        <div class="message-body">
          <h2><%= pluralize(contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

          <ul>
          <% contact.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      </article>
      </div>
    </div>
  <% end %>

  <div class="container">
    <div class="row columns">
      <div class="column">
        <div class="card large">
          <div class="card-content is-light-grey">
            <div class="field">
              <strong><%= form.label :first_name %></strong>:
              <%= form.text_field :first_name, id: :contact_first_name %>
            </div>

            <div class="field">
              <strong><%= form.label :last_name %></strong>:
              <%= form.text_field :last_name, id: :contact_last_name %>
            </div>

            <div class="field">
              <strong><%= form.label :role %></strong>:
              <%= form.text_field :role, id: :contact_role %>
            </div>

            <div class="field">
              <strong><%= form.label :work_number %></strong>:
              <%= form.text_field :work_number, id: :contact_work_number %>
            </div>

            <div class="field">
              <strong><%= form.label :phone_number %></strong>:
              <%= form.text_field :phone_number, id: :contact_phone_number %>
            </div>

            <div class="field">
              <strong><%= form.label :street_1 %></strong>:
              <%= form.text_field :street_1, id: :contact_street_1 %>
            </div>

            <div class="field">
              <strong><%= form.label :city_1 %></strong>:
              <%= form.text_field :city_1, id: :contact_city_1 %>
            </div>

            <div class="field">
              <strong><%= form.label :zipcode_1 %></strong>:
              <%= form.text_field :zipcode_1, id: :contact_zipcode_1 %>
            </div>

            <div class="field">
              <strong><%= form.label :street_2 %></strong>:
              <%= form.text_field :street_2, id: :contact_street_2 %>
            </div>

            <div class="field">
              <strong><%= form.label :city_2 %></strong>:
              <%= form.text_field :city_2, id: :contact_city_2 %>
            </div>

            <div class="field">
              <strong><%= form.label :zipcode_2 %></strong>:
              <%= form.text_field :zipcode_2, id: :contact_zipcode_2 %>
            </div>

            <div class="actions">
              <%= form.submit %>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
