<%= form_with(model: contact, local: true) do |form| %>
  <% if contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

      <ul>
      <% contact.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :contact_name %>
  </div>

  <div class="field">
    <%= form.label :work_number %>
    <%= form.text_field :work_number, id: :contact_work_number %>
  </div>

  <div class="field">
    <%= form.label :phone_number %>
    <%= form.text_field :phone_number, id: :contact_phone_number %>
  </div>

  <div class="field">
    <%= form.label :street_1 %>
    <%= form.text_field :street_1, id: :contact_street_1 %>
  </div>

  <div class="field">
    <%= form.label :city_1 %>
    <%= form.text_field :city_1, id: :contact_city_1 %>
  </div>

  <div class="field">
    <%= form.label :zipcode_1 %>
    <%= form.text_field :zipcode_1, id: :contact_zipcode_1 %>
  </div>

  <div class="field">
    <%= form.label :street_2 %>
    <%= form.text_field :street_2, id: :contact_street_2 %>
  </div>

  <div class="field">
    <%= form.label :city_2 %>
    <%= form.text_field :city_2, id: :contact_city_2 %>
  </div>

  <div class="field">
    <%= form.label :zipcode_2 %>
    <%= form.text_field :zipcode_2, id: :contact_zipcode_2 %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
