<div class="container">
    <div class="card">
        <div class="card-content is-light-grey">
            <%= simple_form_for(@contact) do |f| %>
              <%= f.error_notification %>

              <div class="field">
                <div class="control">
                  <%= f.input :first_name, label_html: { class: 'active' }, wrapper: false,  wrapper_html: { class: 'input' } %>
                </div>
              </div>

              <div class="field">
                <div class="control">
                  <%= f.input :last_name, label_html: { class: 'active' }, wrapper: false,  wrapper_html: { class: 'input' } %>
                </div>
              </div>

              <div class="field">
                <div class="control">
                  <%= f.input :role, label_html: { class: 'active' }, wrapper: false,  wrapper_html: { class: 'input' } %>
                </div>
              </div>

              <div class="field">
                <div class="control">
                  <%= f.input :work_number, label_html: { class: 'active' }, wrapper: false,  wrapper_html: { class: 'input' } %>
                </div>
              </div>

              <div class="field">
                <div class="control">
                  <%= f.input :phone_number, label_html: { class: 'active' }, wrapper: false,  wrapper_html: { class: 'input' } %>
                </div>
              </div>

              <div class="field">
                <div class="control">
                  <%= f.input :street_1, label_html: { class: 'active' }, wrapper: false,  wrapper_html: { class: 'input' } %>
                </div>
              </div>

              <div class="field">
                <div class="control">
                  <%= f.input :city_1, label_html: { class: 'active' }, wrapper: false,  wrapper_html: { class: 'input' } %>
                </div>
              </div>            

              <div class="field">
                <div class="control">
                  <%= f.input :zipcode_1, label_html: { class: 'active' }, wrapper: false,  wrapper_html: { class: 'input' } %>
                </div>
              </div>  

              <div class="field">
                <div class="control">
                  <%= f.input :street_2, label_html: { class: 'active' }, wrapper: false,  wrapper_html: { class: 'input' } %>
                </div>
              </div>  

              <div class="field">
                <div class="control">
                  <%= f.input :city_2, label_html: { class: 'active' }, wrapper: false,  wrapper_html: { class: 'input' } %>
                </div>
              </div>  

              <div class="field">
                <div class="control">
                  <%= f.input :zipcode_2, label_html: { class: 'active' }, wrapper: false,  wrapper_html: { class: 'input' } %>
                </div>
              </div> 

              <%= f.input :created_at, as: :hidden, input_html: { value: Date.current }, wrapper:false %>
              
              <%= f.button :submit %>

            <% end %>
            
          </div>
        </div>
      </div>
    </div>
  </div>

