<div class="container">

<section class="hero">
  <div class="hero-body">
    <div class="container">
  
    <table>
      <tr>
        <td>
          <h1 class="title">Contacts</h1>
        </td>
      </tr>
    </table>

    <div class="columns is-multiline is-mobile">

      <% len = @contacts.to_a.length - 1 %>
      <% (0..len).step(3).each do |i| %>
        <% $value1 = @contacts.to_a[i].nil? ? 0 : @contacts.to_a[i] %>
        <% $value2 = @contacts.to_a[i+1].nil? ? 0 : @contacts.to_a[i+1] %>
        <% $value3 = @contacts.to_a[i+2].nil? ? 0 : @contacts.to_a[i+2] %>

        
        <% if $value1 != 0 %>
        <div class="column is-one-third">
          <div class="card large">
              <table>
                  <div class="card-content">
                    <p class="title is-4 no-padding"><%= link_to $value1.name, $value1 %></p>
                    <span class="title is-6">Work number: </span><br/>
                      <%= $value1.work_number %><br/><br/>
                    <span class="title is-6">Phone number: </span><br/>
                      <%= $value1.phone_number %><br/><br/>
                  </div>
                <br/>
              </table>
          </div>
        </div>
        <% end %>


        <% if $value2 != 0 %>
        <div class="column is-one-third">
          <div class="card large">
              <table>
                  <div class="card-content">
                    <p class="title is-4 no-padding"><%= link_to $value2.name, $value2 %></p>
                    <span class="title is-6">Work number: </span><br/>
                      <%= $value2.work_number %><br/><br/>
                    <span class="title is-6">Phone number: </span><br/>
                      <%= $value2.phone_number %><br/><br/>
                  </div>
                <br/>
              </table>
          </div>
        </div>
        <% end %>

        <% if $value3 != 0 %>
        <div class="column is-one-third">
          <div class="card large">
              <table>
                  <div class="card-content">
                    <p class="title is-4 no-padding"><%= link_to $value3.name, $value3 %></p>
                    <span class="title is-6">Work number: </span><br/>
                      <%= $value3.work_number %><br/><br/>
                    <span class="title is-6">Phone number: </span><br/>
                      <%= $value3.phone_number %><br/><br/>
                  </div>
                <br/>
              </table>
          </div>
        </div>
        <% end %>
        
      <% end %>
    </div>
    <%= link_to 'New Contact', new_contact_path, class: "button is-info is-rounded" %>
    </div>
  </div>
</div> 



