<div class="container">
  <div class="row columns">
    <div class="column">
      <br/>
      <div class="card large">
        <div class="card-content">
          <div class="media">
            <div class="media-content">
              <p class="title is-4 no-padding"><%= @contact.name %></p>
              <span class="title is-6"> Role: </span><br/>
                <%= @contact.role %><br/>
            </div>
          </div>

          <div class="content"><span class="title is-6">Contact: </span>
            <br/>Work number: <%= number_to_phone @contact.work_number %>
            <br/>Phone number: <%= number_to_phone @contact.phone_number %>
          </div>

          <div class="content"><strong>Address: </strong><br/>
            Street: <%= @contact.street_1 %>
            <br/>
            City: <%= @contact.city_1 %>
            <br/>
            Zipcode: <%= @contact.zipcode_1 %>
          </div>

          <% if @contact.street_2 != nil && @contact.city_2 != nil && @contact.zipcode_2 != nil %>
            <div class="content"><strong>Secondary Address: </strong><br/>
              Street: <%= @contact.street_2 %>
              <br/>
              City: <%= @contact.city_2 %>
              <br/>
              Zipcode: <%= @contact.zipcode_2 %>
            </div>
          <% end %>

          <div class="content"><span class="title is-6">Services: </span><br/>
            <% @contact.services.each do |s| %>
              <%= link_to s.name, s %><br/>
            <% end %>
          </div>
        </div>
        <div class="column">
          <%= link_to 'Back', contacts_path, class: "button is-info is-rounded" %>
          <%= link_to 'Edit', edit_contact_path(@contact), class: "button is-info is-rounded" %>
          <%= link_to 'Destroy', @contact, method: :delete, data: { confirm: 'Are you sure?' } , class: "button is-danger is-rounded"%>
        </div>
      </div>
    </div>
  </div>
</div>
