<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @contact.name %>
</p>

<p>
  <strong>Work number:</strong>
  <%= @contact.work_number %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @contact.phone_number %>
</p>

<p>
  <strong>Street 1:</strong>
  <%= @contact.street_1 %>
</p>

<p>
  <strong>City 1:</strong>
  <%= @contact.city_1 %>
</p>

<p>
  <strong>Zipcode 1:</strong>
  <%= @contact.zipcode_1 %>
</p>

<p>
  <strong>Street 2:</strong>
  <%= @contact.street_2 %>
</p>

<p>
  <strong>City 2:</strong>
  <%= @contact.city_2 %>
</p>

<p>
  <strong>Zipcode 2:</strong>
  <%= @contact.zipcode_2 %>
</p>

<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %>
