<%= form_with(model: service, local: true) do |form| %>
  <% if service.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(service.errors.count, "error") %> prohibited this service from being saved:</h2>

      <ul>
      <% service.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :service_name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description, id: :service_description %>
  </div>

  <div class="field">
    <%= form.label :philosophy %>
    <%= form.text_field :philosophy, id: :service_philosophy %>
  </div>

  <div class="field">
    <%= form.label :entrance_criteria %>
    <%= form.text_field :entrance_criteria, id: :service_entrance_criteria %>
  </div>

  <div class="field">
    <%= form.label :exclusion_criteria %>
    <%= form.text_field :exclusion_criteria, id: :service_exclusion_criteria %>
  </div>

  <div class="field">
    <%= form.label :exit_criteria %>
    <%= form.text_field :exit_criteria, id: :service_exit_criteria %>
  </div>

  <div class="field">
    <%= form.label :level_of_care %>
    <%= form.text_field :level_of_care, id: :service_level_of_care %>
  </div>

  <div class="field">
    <%= form.label :average_length_of_stay %>
    <%= form.text_field :average_length_of_stay, id: :service_average_length_of_stay %>
  </div>

  <div class="field">
    <%= form.label :referral_process %>
    <%= form.text_field :referral_process, id: :service_referral_process %>
  </div>

  <div class="field">
    <%= form.label :matching_elements %>
    <%= form.text_field :matching_elements, id: :service_matching_elements %>
  </div>

  <div class="field">
    <%= form.label :created_by %>
    <%= form.text_field :created_by, id: :service_created_by %>
  </div>

  <div class="field">
    <%= form.label :updated_by %>
    <%= form.text_field :updated_by, id: :service_updated_by %>
  </div>

  <div class="field">
    <%= form.label :category %>
    <%= form.text_field :category, id: :service_category %>
  </div>

  <div class="field">
    <%= form.label :contact %>
    <%= form.text_field :contact, id: :service_contact %>
  </div>

  <div class="field">
    <%= form.label :location %>
    <%= form.text_field :location, id: :service_location %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
