<p id="notice"><%= notice %></p>

<section class="hero">
  <div class="hero-body">
    <div class="container">
    <h1 class="title">Services</h1>
    <table>
      <tr>
        <td>
          <%= form_tag(services_path, method: :get) do %>
          <%= text_field_tag :term, params[:term] %>
          <%= submit_tag 'Search', name:nil %>
          <% end %>
      <br/>
        </td>
        <td>
          <%= link_to 'New Service', new_service_path %>
        </td>
      </tr>
    </table>
    
<p id="notice"><%= notice %></p>

<table class="table">
  <thead>
    <tr>
      <th>Service</th>
      <th>Category</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @services.each do |service| %>
      <tr>
        <td><%= link_to service.name, service %></td>
        <td><%= service.category.name %></td>
        <td><%= link_to 'Edit', edit_service_path(service) %></td>
        <td><%= link_to 'Destroy', service, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

</div>

<br>
