<div class="container">

<section class="hero">
  <div class="hero-body">
    <div class="container">

    <% if notice != nil %>
      <article class="message is-primary">
        <div class="message-body">
          <p id="notice"><%= notice %></p>
        </div>
      </article>
    <% end %>

      <h1 class="title">Services</h1>

      <div class="hero-foot">
      <nav class="tabs is-toggle is-large">
        <ul>
          <li class="tab is-active" onclick="openTab(event,'Categories')">
            <a>Categories</a>
          </li>
          <li class="tab" onclick="openTab(event,'Levels of Care')">
            <a>Levels of Care</a>
          </li>
          <li class="tab" onclick="openTab(event,'ME')">
            <a>Micro-Enterprises</a>
          </li>
        </ul>
      </nav>
      </div>

      <div class="container section">
        <div id="Categories" class="content-tab" >

          <div class="columns is-multiline is-mobile">

          <%# @categories.each do |category| %>
          <% len = @categories.to_a.length - 1 %>
          <% (0..len).step(3).each do |i| %>
          <% $value1 = @categories.to_a[i].nil? ? 0 : @categories.to_a[i] %>
          <% $value2 = @categories.to_a[i+1].nil? ? 0 : @categories.to_a[i+1] %>
          <% $value3 = @categories.to_a[i+2].nil? ? 0 : @categories.to_a[i+2] %>

            <div class="column is-one-third">
              <% if $value1 != 0 %>
                <div class="card large">
                  <div class="card-content">
                    <p class="title is-4 no-padding"><%= $value1.name %>
                    <% if can? :edit, Category %>
                      <%= link_to edit_category_path($value1) do %>
                          <i class="material-icons">edit</i>
                        <% end %>
                    <% end %>
                      <% if $value1.services.to_a.length == 0 %>
                        <% if can? :delete, Category %>
                          <%= link_to($value1, method: :delete, data: { confirm: 'Are you sure?' }) do %>
                            <i class="material-icons">delete</i>
                          <% end %>
                        <% end %>
                      <% end %>
                    </p>

                      <table>
                      <% $value1.services.alphabetical.each do |service| %>
                          <tr>
                          <td style="table-layout: fixed; width: 350px;">
                            <p><span class="title is-5"><%=link_to service.name, service %>
                            <% if can? :edit, service %>
                              <%= link_to edit_service_path(service) do %>
                                <i class="material-icons">edit</i>
                              <% end %>
                            <% end %>
                            </span></p>

                            <p class="subtitle is-6"><%= service.description %></p>
                            </td>
                          <% end %>
                          </tr>
                      </table>

                  </div>
                </div>
              <% end %>
            </div>

            <div class="column is-one-third">
              <% if $value2 != 0 %>
                <div class="card large">
                  <div class="card-content">
                    <p class="title is-4 no-padding"><%=$value2.name%>
                    <% if can? :edit, Category %>
                      <%= link_to edit_category_path($value2) do %>
                          <i class="material-icons">edit</i>
                        <% end %>
                    <% end %>
                      <% if $value2.services.to_a.length == 0 %>
                      <% if can? :delete, Category %>
                        <%= link_to($value2, method: :delete, data: { confirm: 'Are you sure?' }) do %>
                          <i class="material-icons">delete</i>
                        <% end %>
                      <% end %>
                      <% end %>
                    </p>
                      <table>
                      <% $value2.services.alphabetical.each do |service| %>
                          <tr>
                          <td style="table-layout: fixed; width: 350px;">
                            <p><span class="title is-5"><%=link_to service.name, service %>
                            <% if can? :edit, service %>
                              <%= link_to edit_service_path(service) do %>
                                <i class="material-icons">edit</i>
                              <% end %>
                            <% end %>
                            </span></p>
                            <p class="subtitle is-6"><%= service.description %></p>
                            </td>
                          <% end %>
                          </tr>
                      </table>

                  </div>
                </div>
              <% end %>
            </div>

            <div class="column is-one-third">
              <% if $value3 != 0 %>
                <div class="card large">
                  <div class="card-content">
                    <p class="title is-4 no-padding"><%=$value3.name%>
                    <% if can? :edit, Category %>
                      <%= link_to edit_category_path($value3) do %>
                          <i class="material-icons">edit</i>
                        <% end %>
                    <% end %>
                      <% if $value3.services.to_a.length == 0 %>
                        <% if can? :delete, Category %>
                          <%= link_to($value3, method: :delete, data: { confirm: 'Are you sure?' }) do %>
                            <i class="material-icons">delete</i>
                          <% end %>
                        <% end %>
                      <% end %>
                    </p>
                      <table>
                      <% $value3.services.alphabetical.each do |service| %>
                          <tr>
                          <td style="table-layout: fixed; width: 350px;">
                            <p><span class="title is-5"><%=link_to service.name, service %>
                            <% if can? :edit, service %>
                              <%= link_to edit_service_path(service) do %>
                                <i class="material-icons">edit</i>
                              <% end %>
                            <% end %>
                            </span></p>
                            <p class="subtitle is-6"><%= service.description %></p>
                            </td>
                          <% end %>
                          </tr>
                      </table>

                  </div>
                </div>
              <% end %>
            </div>
          <% end %>

          </div>
        </div>


        <div id="Levels of Care" class="content-tab" style="display:none">

              <div class="container">

                <div class="tabi-wrap">

                  <input type="radio" id="tab1" name="tabGroup1" class="tabi" checked>
                  <label for="tab1">Adult</label>

                  <input type="radio" id="tab2" name="tabGroup1" class="tabi">
                  <label for="tab2">Child</label>

                  <input type="radio" id="tab3" name="tabGroup1" class="tabi">
                  <label for="tab3">Intellectual and Developmental Disabilities</label>

                  <input type="radio" id="tab4" name="tabGroup1" class="tabi">
                  <label for="tab4">Older Adults</label>

                  <div class="tabi__content">

                    <div class="columns is-multiline is-mobile">
                      <div class="column is-one-fifth">
                        <div class="card large">
                          <div class="card-content">
                            <p class="title is-5 no-padding">Level 1: Risk Reduction Services</p>

                              <% rez = @services.for_lvl_arr("1", "Adult") %>
                              <% rez.each do |service| %>
                                  <p><span class="title is-5"><%=link_to service.name, service %></span></p>
                                  <p class="subtitle is-6"><%= service.description %></p>
                                  <br>
                              <% end %>

                          </div>
                        </div>
                      </div>

                      <div class="column is-one-fifth">
                        <div class="card large">
                          <div class="card-content">
                            <p class="title is-5 no-padding">Level 2: Early Intervention</p>

                              <% rez = @services.for_lvl_arr("2", "Adult") %>
                              <% rez.each do |service| %>
                                  <p><span class="title is-5"><%=link_to service.name, service %></span></p>
                                  <p class="subtitle is-6"><%= service.description %></p>
                                  <br>
                              <% end %>

                          </div>
                        </div>
                      </div>

                      <div class="column is-one-fifth">
                        <div class="card large">
                          <div class="card-content">
                            <p class="title is-5 no-padding">Level 3: Intermediate Care</p>

                              <% rez = @services.for_lvl_arr("3", "Adult") %>
                              <% rez.each do |service| %>
                                  <p><span class="title is-5"><%=link_to service.name, service %></span></p>
                                  <p class="subtitle is-6"><%= service.description %></p>
                                  <br>
                              <% end %>

                          </div>
                        </div>
                      </div>

                      <div class="column is-one-fifth">
                        <div class="card large">
                          <div class="card-content">
                            <p class="title is-5 no-padding">Level 4: Extended Care</p>

                              <% rez = @services.for_lvl_arr("4", "Adult") %>
                              <% rez.each do |service| %>
                                  <p><span class="title is-5"><%=link_to service.name, service %></span></p>
                                  <p class="subtitle is-6"><%= service.description %></p>
                                  <br>
                              <% end %>

                          </div>
                        </div>
                      </div>

                      <div class="column is-one-fifth">
                        <div class="card large">
                          <div class="card-content">
                            <p class="title is-5 no-padding">Level 5: Crisis Emergency Care</p>

                              <% rez = @services.for_lvl_arr("5", "Adult") %>
                              <% rez.each do |service| %>
                                  <p><span class="title is-5"><%=link_to service.name, service %></span></p>
                                  <p class="subtitle is-6"><%= service.description %></p>
                                  <br>
                              <% end %>

                          </div>
                        </div>
                      </div>
                    </div>

                  </div>

                  <div class="tabi__content">

                    <div class="columns is-multiline is-mobile">
                      <div class="column is-one-fifth">
                        <div class="card large">
                          <div class="card-content">
                            <p class="title is-5 no-padding">Level 1: Risk Reduction Services</p>

                              <% rez = @services.for_lvl_arr("1", "Child") %>
                              <% rez.each do |service| %>
                                  <p><span class="title is-5"><%=link_to service.name, service %></span></p>
                                  <p class="subtitle is-6"><%= service.description %></p>
                                  <br>
                              <% end %>

                          </div>
                        </div>
                      </div>

                      <div class="column is-one-fifth">
                        <div class="card large">
                          <div class="card-content">
                            <p class="title is-5 no-padding">Level 2: Early Intervention</p>

                              <% rez = @services.for_lvl_arr("2", "Child") %>
                              <% rez.each do |service| %>
                                  <p><span class="title is-5"><%=link_to service.name, service %></span></p>
                                  <p class="subtitle is-6"><%= service.description %></p>
                                  <br>
                              <% end %>

                          </div>
                        </div>
                      </div>

                      <div class="column is-one-fifth">
                        <div class="card large">
                          <div class="card-content">
                            <p class="title is-5 no-padding">Level 3: Intermediate Care</p>

                              <% rez = @services.for_lvl_arr("3", "Child") %>
                              <% rez.each do |service| %>
                                  <p><span class="title is-5"><%=link_to service.name, service %></span></p>
                                  <p class="subtitle is-6"><%= service.description %></p>
                                  <br>
                              <% end %>

                          </div>
                        </div>
                      </div>

                      <div class="column is-one-fifth">
                        <div class="card large">
                          <div class="card-content">
                            <p class="title is-5 no-padding">Level 4: Extended Care</p>

                              <% rez = @services.for_lvl_arr("4", "Child") %>
                              <% rez.each do |service| %>
                                  <p><span class="title is-5"><%=link_to service.name, service %></span></p>
                                  <p class="subtitle is-6"><%= service.description %></p>
                                  <br>
                              <% end %>

                          </div>
                        </div>
                      </div>

                      <div class="column is-one-fifth">
                        <div class="card large">
                          <div class="card-content">
                            <p class="title is-5 no-padding">Level 5: Crisis Emergency Care</p>

                              <% rez = @services.for_lvl_arr("5", "Child") %>
                              <% rez.each do |service| %>
                                  <p><span class="title is-5"><%=link_to service.name, service %></span></p>
                                  <p class="subtitle is-6"><%= service.description %></p>
                                  <br>
                              <% end %>

                          </div>
                        </div>
                      </div>
                    </div>

                  </div>

                  <div class="tabi__content">

                    <div class="columns is-multiline is-mobile">
                      <div class="column is-one-fourth">
                        <div class="card large">
                          <div class="card-content">
                            <p class="title is-5 no-padding">Level 1: Evaluation Transition</p>

                              <% rez = @services.for_lvl_arr("1", "Intellectual and Developmental Disabilities") %>
                              <% rez.each do |service| %>
                                  <p><span class="title is-5"><%=link_to service.name, service %></span></p>
                                  <p class="subtitle is-6"><%= service.description %></p>
                                  <br>
                              <% end %>

                          </div>
                        </div>
                      </div>

                      <div class="column is-one-fourth">
                        <div class="card large">
                          <div class="card-content">
                            <p class="title is-5 no-padding">Level 2: Intermittent Care</p>

                              <% rez = @services.for_lvl_arr("2", "Intellectual and Developmental Disabilities") %>
                              <% rez.each do |service| %>
                                  <p><span class="title is-5"><%=link_to service.name, service %></span></p>
                                  <p class="subtitle is-6"><%= service.description %></p>
                                  <br>
                              <% end %>

                          </div>
                        </div>
                      </div>

                      <div class="column is-one-fourth">
                        <div class="card large">
                          <div class="card-content">
                            <p class="title is-5 no-padding">Level 3: Community Integration</p>

                              <% rez = @services.for_lvl_arr("3", "Intellectual and Developmental Disabilities") %>
                              <% rez.each do |service| %>
                                  <p><span class="title is-5"><%=link_to service.name, service %></span></p>
                                  <p class="subtitle is-6"><%= service.description %></p>
                                  <br>
                              <% end %>

                          </div>
                        </div>
                      </div>

                      <div class="column is-one-fourth">
                        <div class="card large">
                          <div class="card-content">
                            <p class="title is-5 no-padding">Level 4: Facility Based Services </p>

                              <% rez = @services.for_lvl_arr("4", "Intellectual and Developmental Disabilities") %>
                              <% rez.each do |service| %>
                                  <p><span class="title is-5"><%=link_to service.name, service %></span></p>
                                  <p class="subtitle is-6"><%= service.description %></p>
                                  <br>
                              <% end %>

                          </div>
                        </div>
                      </div>

                    </div>

                  </div>

                  <div class="tabi__content">

                    <div class="columns is-multiline is-mobile">
                      <div class="column is-one-third">
                        <div class="card large">
                          <div class="card-content">
                            <p class="title is-5 no-padding">Level 1: Resource Linkage</p>

                              <% rez = @services.for_lvl_arr("1", "Older Adult") %>
                              <% rez.each do |service| %>
                                  <p><span class="title is-5"><%=link_to service.name, service %></span></p>
                                  <p class="subtitle is-6"><%= service.description %></p>
                                  <br>
                              <% end %>

                          </div>
                        </div>
                      </div>

                      <div class="column is-one-third">
                        <div class="card large">
                          <div class="card-content">
                            <p class="title is-5 no-padding">Level 2: Assessment</p>

                              <% rez = @services.for_lvl_arr("2", "Older Adult") %>
                              <% rez.each do |service| %>
                                  <p><span class="title is-5"><%=link_to service.name, service %></span></p>
                                  <p class="subtitle is-6"><%= service.description %></p>
                                  <br>
                              <% end %>

                          </div>
                        </div>
                      </div>

                      <div class="column is-one-third">
                        <div class="card large">
                          <div class="card-content">
                            <p class="title is-5 no-padding">Level 3: Ongoing Support</p>

                              <% rez = @services.for_lvl_arr("1", "Older Adult") %>
                              <% rez.each do |service| %>
                                  <p><span class="title is-5"><%=link_to service.name, service %></span></p>
                                  <p class="subtitle is-6"><%= service.description %></p>
                                  <br>
                              <% end %>

                          </div>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
            </div>
        </div>


        <div id="ME" class="content-tab" style="display:none">

          <div class="columns is-multiline is-mobile">

          <% me = Array["Older Adult Services", "Family Support Services", "Child/Family
            Behavioral Health", "Educational/School Services", "Behavioral Health & Recovery",
             "Intellectual & Developmental Disabilities", "Central Access/Community Programs",
             "Psychiatric Services", "Outpatient Services"] %>

          <% len = me.length - 1 %>
          <% (0..len).step(3).each do |i| %>
          <% $value1 = me[i].nil? ? 0 : me[i] %>
          <% $value2 = me[i+1].nil? ? 0 : me[i+1] %>
          <% $value3 = me[i+2].nil? ? 0 : me[i+2] %>

          <% $value1p = false %>
          <% $value2p = false %>
          <% $value3p = false %>

            <div class="column is-one-third">
              <% if $value1 != 0 %>
                <div class="card large">
                  <div class="card-content">
                    <p class="title is-4 no-padding"><%=$value1%></p>

                      <% @services.alphabetical.each do |service| %>
                        <% if service.microenterprise == $value1 %>
                        <% $value1p = true %>
                        <table>
                          <tr>
                            <td style="table-layout: fixed; width: 350px;">
                            <p><span class="title is-5"><%=link_to service.name, service %>
                            <% if can? :edit, service %>
                              <%= link_to edit_service_path(service) do %>
                                <i class="material-icons">edit</i>
                              <% end %>
                            <% end %>
                            </span></p>
                            <p class="subtitle is-6"><%= service.description %></p>
                          </tr>
                        </table>
                        <% end %>
                      <% end %>

                      <% if $value1p == false %>
                        <p>No services under this micro-enterprise currently exist.</p>
                      <% end %>

                  </div>
                </div>
              <% end %>
            </div>

            <div class="column is-one-third">
              <% if $value2 != 0 %>
                <div class="card large">
                  <div class="card-content">
                    <p class="title is-4 no-padding"><%=$value2%></p>

                      <% @services.alphabetical.each do |service| %>
                        <% if service.microenterprise == $value2 %>
                        <% $value2p = true %>
                          <table>
                            <tr>
                            <td style="table-layout: fixed; width: 350px;">
                              <p><span class="title is-5"><%=link_to service.name, service %>
                              <% if can? :edit, service %>
                                <%= link_to edit_service_path(service) do %>
                                  <i class="material-icons">edit</i>
                                <% end %>
                              <% end %>
                              </span></p>
                              <p class="subtitle is-6"><%= service.description %></p>
                            </tr>
                          </table>
                        <% end %>
                      <% end %>

                      <% if $value2p == false %>
                        <p>No services under this micro-enterprise currently exist.</p>
                      <% end %>

                  </div>
                </div>
              <% end %>
            </div>

            <div class="column is-one-third">
              <% if $value3 != 0 %>
                <div class="card large">
                  <div class="card-content">
                    <p class="title is-4 no-padding"><%=$value3%></p>

                      <% @services.each do |service| %>
                        <% if service.microenterprise == $value3 %>
                        <% $value3p = true %>
                          <table>
                            <tr>
                            <td style="table-layout: fixed; width: 350px;">
                              <p><span class="title is-5"><%=link_to service.name, service %>
                              <% if can? :edit, service%>
                                <%= link_to edit_service_path(service) do %>
                                  <i class="material-icons">edit</i>
                                <% end %>
                              <% end %>
                              </span></p>
                              <p class="subtitle is-6"><%= service.description %></p>
                            </tr>
                          </table>
                      <% end %>
                    <% end %>

                    <% if $value3p == false %>
                      <p>No services under this micro-enterprise currently exist.</p>
                    <% end %>
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>

          </div>
        </div>

      </div>

      <div class="column">
      <% if logged_in? && current_user.admin? %>
        <%= link_to 'New Service', new_service_path, class: "button is-info is-rounded" %>
        <%= link_to 'New Category', new_category_path, class: "button is-info is-rounded" %>
      <% end %>
      </div>
    </div>
  </div>
</section>
