<p id="notice"><%= notice %></p>

<section class="hero">
  <div class="hero-body">
    <div class="container">
    <h1 class="title">Services</h1>
    <table>
      <tr>
        </td>
        <td>
          <%= link_to 'New Service', new_service_path %>
        </td>
      </tr>
    </table>
    
<p id="notice"><%= notice %></p>

<% @categories.each do |category| %>

<% puts category.name %>

<div class="row columns">
  <div class="column">
    <div class="card large">
        <div class="card-content">
          <div class="media">
              <div class="media-content">
                <p class="title is-4 no-padding"><%=category.name%></p>
                
                <% category.services.each do |service| %>
                  <p><span class="title is-6"><%=link_to service.name, service %></span></p>
                  <p class="subtitle is-6"><%= service.description %></p>
                    <%= link_to 'Edit |', edit_service_path(service) %>
                    <%= link_to ' Destroy', service, method: :delete, data: { confirm: 'Are you sure?' } %>
                <% end %>

              </div>
          </div>
          <!-- <div class="content">Category: 
              <%#= service.category.name %>
          </div> -->
        </div>
    </div>
  </div>
</div>
                
<% end %>

<table class="table">
<!--   <thead>
    <tr>
      <th>Service</th>
      <th>Category</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    
      <tr>
      <%#=link_to service.name, service%>
        <td><%#= link_to service.name, service %></td>
        <td><%#= service.category.name %></td>
        <td><%#= link_to 'Edit', edit_service_path(service) %></td>
        <td><%#= link_to 'Destroy', service, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    
  </tbody> -->
</table>

</div>

<br>
