<div class="container">
    <div class="columns padding-top ">
        <div class="column ">
            <% if notice != nil %>
                <article class="message is-primary">
                    <div class="message-body">
                        <p id="notice"><%= notice %></p>
                    </div>
                </article>
            <% end %>

            <div class="card large">
                <div class="card-content">
                    <div class="media">
                        <div class="media-content">
                            <p class="title is-4 no-padding has-text-purple"><%=@service.name%></p>
                            <p><span class="title is-6">Website</span></p>
                            <p class="subtitle is-6"><%= link_to @service.web_address, @service.web_address%></p>
                            <p><span class="title is-6">Philosophy</span></p>
                            <p class="subtitle is-6"><%= @service.philosophy%></p>
                            <p><span class="title is-6">Description</span></p>
                            <p class="subtitle is-6"><%= @service.description%></p>
                            <p><span class="title is-6">Level of Care</span></p>
                            <p class="subtitle is-6"><%= @service.level_of_care%></p> 
                            <p><span class="title is-6">Micro-Enterprise</span></p>
                            <p class="subtitle is-6"><%= @service.microenterprise%></p> 
                            <p><span class="title is-6">Payment Information</span></p>
                            <p class="subtitle is-6"><%= @service.payment_insurance%></p> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container padding-bottom">
        <div class="rows">
            <div class="card large">
                <div class="card-content">
                    <div class="row">
                        <table class="table">
                            <thead>
                                <tr>
                                <th>Service Type</th>
                                <th>Staff</th>
                                <th>Unit Cost</th>
                                <th>Unit Rate</th>
                                <th>Avg los</th>
                                <th>Rev los</th>
                                <th>Frequency</th>
                                <% if logged_in? && current_user.admin? %>
                                    <th>Created By</th>
                                    <th>Created At</th>
                                    <th>Updated By</th>
                                    <th>Updated At</th>
                                <% end %>
                                </tr>
                            </thead>
                            <tbody>
                                <% @service.service_types.each do |t| %>
                                    <tr>
                                        <th><%= t.name %></th>
                                        <td><%= t.staff%></td>
                                        <td><%= t.unit_cost%></td>
                                        <td><%= t.unit_rate%></td>
                                        <td><%= t.avg_los%></td>
                                        <td><%= t.rev_los%></td>
                                        <td><%= t.frequency%></td>
                                        <% if logged_in? && current_user.admin? %>
                                            <td><%= t.created_by%></td>
                                            <td><%= t.created_at%></td>
                                            <td><%= t.updated_by%></td>
                                            <td><%= t.updated_at%></td>
                                        <% end %>
                                        <% if can? :edit, t %>
                                            <td><%= link_to 'Edit', edit_service_type_path(t) %></td>
                                        <% end %>
                                        <% if can? :delete, t %>
                                            <td><%= link_to 'Remove', t, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                                        <% end %>
                                    </tr>
                                <% end %>
                            </tbody>
                        </table>
                    </div>
                    <div class="padding-top">
                       <% if current_user.service_owner? && current_user.service == @service %> 
                            <%= link_to 'Add New Service Type', new_service_type_path(service_id: @service.id), class: "button is-info is-rounded" %>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
    </div>

     <div class="columns padding-top ">
        <div class="column padding-bottom one-half">
            <div class="card large">
                <div class="card-content">
                    <p><span class="title is-6">Entrance Criteria </span></p>
                    <p class="subtitle is-6"><%= @service.entrance_criteria%></p>
                    <p><span class="title is-6">Exclusion Criteria</span></p>
                    <p class="subtitle is-6"><%= @service.exclusion_criteria%></p>
                    <p><span class="title is-6">Exit Criteria</span></p>
                    <p class="subtitle is-6"><%= @service.exit_criteria%></p>
                </div>
            </div>
        </div>

        <div class="column one-half">
            <div class="card large">
                <div class="card-content">
                    <p><span class="title is-6">Average Length of Stay</span></p>
                    <p class="subtitle is-6"><%= @service.average_length_of_stay%></p>
                    <p><span class="title is-6">Referral Process</span></p>
                    <p class="subtitle is-6"><%= @service.referral_process%></p>
                    <p><span class="title is-6">Matching Elements</span></p>
                    <p class="subtitle is-6"><%= @service.matching_elements%></p>
                </div>
            </div>
        </div>

    </div>

</div>
 
    <div class="container">
        <div class="rows">
            <div class="card large">
                <div class="card-content"><span class="title is-6">Locations</span>
                    <br>
                    <br>
                    <div class="columns">
                        <% @s_locations.each do |i| %>
                            <div class="column">
                                <table>
                                    <tr>
                                        <td><%= link_to i.location.name, i.location %></td>
                                        <% if can? :delete, i %>
                                            <td><%= link_to '  | Remove', i, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                                        <% end %>
                                    </tr>
                                    <tr>
                                        <td><%= i.location.street %></td>
                                    </tr>
                                    <tr>
                                        <td><%= i.location.city %>, PA <%= i.location.zipcode %></td>
                                    </tr>
                                </table>
                            </div>
                        <% end %>
                    </div>
                    <div class="padding-top">
                     <% if current_user.service_owner? && current_user.service == @service %>
                        <%= link_to 'Add Location', new_service_location_path(service_id: @service.id), class: "button is-info is-rounded" %>
                    <% end %>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="rows">
            <div class="card large">
                <div class="card-content"><span class="title is-6 p">Contacts </span>
                    <br>
                    <br>
                    <div class="columns">
                        <% @s_contacts.each do |c| %>
                            <div class="column">

                                <table>
                                    <tr>
                                        <td><%= link_to c.contact.name, c.contact %></td>
                                        <% if can? :delete, c %>
                                            <td><%= link_to ' | Remove', c, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                                        <% end %>
                                    </tr>
                                    <tr>
                                        <td><%= c.contact.role %></td>
                                    </tr>
                                    <tr>
                                        <td><%= number_to_phone c.contact.work_number %></td>
                                    </tr>

                                </table>

                            </div>
                        <% end %>
                    </div>
                    <div class="padding-top">
                    <% if current_user.service_owner? && current_user.service == @service %>
                        <%= link_to 'Add Contact', new_service_contact_path(service_id: @service.id), class: "button is-info is-rounded" %>
                    <% end %>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <% if logged_in? && current_user.admin? %>

    <div class="container padding-top">
        <div class="card large">
            <div class="card-content"><strong>Admin Info: </strong><br/>
                Created By: <%= @service.created_by %>, Created At: <%= @service.created_at %>
                <br/>
                Updated by: <%= @service.updated_by %>, Updated at: <%= @service.updated_at %>
            </div>
        </div>
    </div>

    <% end %>

    <div class="container padding-top">
        <div class="card large">

            <% if logged_in? %>
                <div class="card-content"><span class="title is-6 p"> Comments </span>
                    <br>
                    <% @service.comments.chronological.each do |c| %>
                        <p><%= c.date_created.strftime("%m/%d/%y") %> <%= c.content %></p>
                    <% end %>
                    <div class="padding-top">
                        <%= link_to 'Add Comment', new_comment_path(service_id: @service.id), class: "button is-info is-rounded" %>
                    </div>
                </div>
            <% end %>
        </div>
    </div>

    <div class="container">
        <div class="column">
            <% if can? :edit, @service %>
                <%= link_to 'Edit', edit_service_path(@service), class: "button is-info is-rounded" %>  
            <% end %>
            <%= link_to 'Back', services_path, class: "button is-info is-rounded" %>
            <% if can? :delete, @service %>
                <%= link_to 'Remove', @contact, method: :delete, data: { confirm: 'Are you sure?' } , class: "button is-danger is-rounded"%>
            <% end %>
        </div>
        
    </div>



