<div class="container">

    <div class="rows padding-top">
        <div class="row">
            <div class="card large">
                
            
                <div class="card-content">
                    <div class="media">
                        <div class="media-content">
                            <p class="title is-4 no-padding"><%=@service.name%></p>
                            <p><span class="title is-6">Philosophy</span></p>
                            <p class="subtitle is-6"><%= @service.philosophy%></p>
                            <p><span class="title is-6">Description</span></p>
                            <p class="subtitle is-6"><%= @service.description%></p>
                        </div>
                     </div>
                </div>

            </div>
        </div>
    </div>

</div>

    <div class="container">
        <div class="rows">
            <div class="card large">
                <div class="card-content"><span class="title is-6">Locations </span>
                        <% @s_locations.each do |i| %>
                            <p><%= link_to i.name, i %></p>
                        <% end %>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="rows">
            <div class="card large">
                <div class="card-content"><span class="title is-6 p">Contacts </span>
    
                        <% @s_contacts.each do |c| %>
                            <p><%= link_to c.name, c %></p>
                            <%= number_to_phone c.phone_number%>
                        <% end %>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="rows">
            <div class="card large">
                <div class="card-content"><span class="title is-6">Locations </span>
                    <% @s_locations.each do |i| %>
                        <p><%= link_to i.name, i %></p>
                    <% end %>
                </div>
            </div>
        </div>
    </div>



