<div class="container">
  <div class="row columns">
    <div class="column">
      <br/>
      <div class="card large">
        <div class="card-content">
          <div class="media">
            <div class="media-content">
              <p class="title is-4 no-padding"><%= @service_type.name %></p>
 <!--                <p>
                  <strong>Name:</strong>
                  <%#= @service_type.name %>
                </p>
 -->
                <p>
                  <strong>Cost Table id:</strong>
                  <%= @service_type.cost.id %>
                </p>

                    <table class="table">
                        <thead>
                            <tr>
                            <th>Unit Cost</th>
                            <th>Unit Rate</th>
                            <th>Avg los</th>
                            <th>Rev los</th>
                            <th>Frequency</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><%= @service_type.cost.unit_cost%></td>
                                <td><%= @service_type.cost.unit_rate%></td>
                                <td><%= @service_type.cost.avg_los%></td>
                                <td><%= @service_type.cost.rev_los%></td>
                                <td><%= @service_type.cost.frequency%></td>
                            </tr>
                        </tbody>
                    </table>

                <!-- insert a route here to edit cost -->

                <p>
                  <strong>Staff:</strong>
                  <%= @service_type.staff %>
                </p>

                <p>
                  <strong>Created by:</strong>
                  <%= @service_type.created_by %>
                </p>

                <p>
                  <strong>Service:</strong>
                  <%= @service_type.service.name %>
                </p>

                <p>
                  <strong>Updated by:</strong>
                  <%= @service_type.updated_by %>
                </p>

<div class="container">
    <div class="column">
      <%= link_to 'Edit', edit_service_type_path(@service_type), class: "button is-info is-rounded" %>
      <%= link_to 'Back', service_path(@service_type.service), class: "button is-info is-rounded" %>
    </div>
</div>
