<%= form_with(model: cost, local: true) do |form| %>
  <% if cost.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cost.errors.count, "error") %> prohibited this cost from being saved:</h2>

      <ul>
      <% cost.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :unit_cost %>
    <%= form.text_field :unit_cost, id: :cost_unit_cost %>
  </div>

  <div class="field">
    <%= form.label :unit_rate %>
    <%= form.text_field :unit_rate, id: :cost_unit_rate %>
  </div>

  <div class="field">
    <%= form.label :avg_los %>
    <%= form.text_field :avg_los, id: :cost_avg_los %>
  </div>

  <div class="field">
    <%= form.label :rev_los %>
    <%= form.text_field :rev_los, id: :cost_rev_los %>
  </div>

  <div class="field">
    <%= form.label :frequency %>
    <%= form.text_field :frequency, id: :cost_frequency %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
