<p id="notice"><%= notice %></p>

<p>
  <strong>Unit cost:</strong>
  <%= @cost.unit_cost %>
</p>

<p>
  <strong>Unit rate:</strong>
  <%= @cost.unit_rate %>
</p>

<p>
  <strong>Avg los:</strong>
  <%= @cost.avg_los %>
</p>

<p>
  <strong>Rev los:</strong>
  <%= @cost.rev_los %>
</p>

<p>
  <strong>Frequency:</strong>
  <%= @cost.frequency %>
</p>

<%= link_to 'Edit', edit_cost_path(@cost) %> |
<%= link_to 'Back', costs_path %>
